.main-container {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: 5vmin 1fr 10vmin;
}

.foot-row,
.head-row {
	grid-column: 1 / span 2;
}
/* Demo Specific Styles */
.main-container {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
}

.content,
.foot-row,
.head-row,
aside {
	background: #eaeaea;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

app-contents-list {
	width: 100%;
	height: 100%;
}
